<div class="ui-widget">
    {{input id="tags" type="search" class="search" value=input placeholder="Your Favourite" name="keyword" action="sendaction"}}
	<button id='searchButton' {{action 'sendaction'}}></button>

</div>